# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Pixel Related Files
pixel_maps
*.swp
*.csv
CONFIG

# Ignore Bazel related files
bazel-bin
bazel-out
bazel-pixel-tools
bazel-testlogs
